<% _attrs = @resource.persisted? ? edit_attrs : new_attrs -%>
<% _url = @resource.persisted? ? resource_url(@resource) : collection_url -%>
<%= nested_form_for([*(resource_path + [@resource])], as: resource_name_u, url: _url) do |f| %>
  <% if @resource.errors.any? -%>
    <div id="error_explanation">
      <h3><%= t('iord.errors.explanation', errors: pluralize(@resource.errors.count, t('iord.errors.error'))) %></h3>
      <ul>
        <% @resource.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <% end -%>
      </ul>
    </div>
  <% end %>
  <%= iordh.fieldset(@form_title, _attrs, f) { iordh.submit(f) } %>
<% end -%>

